.service-list {
    list-style-type: none;
}

.service-list li {
    margin-bottom: 10px;
}

.service-list a {
    font-size: 22px;
    text-decoration: none;
 }

.service-list img {
    vertical-align: middle;
}

.service-list span {
   vertical-align: middle;
   display: inline-block;
}